
<div *ngIf="!filteredEvents && startServerMessage" class="white-color">Please start json server using command <span class="heading tomato_color" > json-server --watch db.json</span>  </div>

<div class="container-fluid" *ngIf="filteredEvents">
  <div class="row search_box" >
    <div class="col-md-6 col-12">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="SEARCH EVENTS"  [(ngModel)]="searchTerm">
      </div>
      </div>
    </div>
  <div class="row">

    <div class="col-md-12 card_content">

      <ng-container >
        <div class="row">
          <ng-container *ngIf="filteredEvents.length>0; else no_event">
          <div class="col-md-3 col-12" *ngFor=" let event of filteredEvents">
            <mat-card class="event-card">
              <img mat-card-image [src]="event.imagePath" alt = {{event.name}} class="image-card">            
            
              <p class="event-title heading">
                {{event.name}}
              </p>
              <p class="event-title">
                Date of Event: {{event.date}}
              </p>
              <p class="event-title">
                Number of seats available: {{event.seats}}
              </p>
              <button *ngIf="event.seats>0" (click)="book_event(event.id)" type="button " class="btn btn-default book_now_button">BOOK NOW</button>
              <p *ngIf="event.seats<=0" class="event-title heading">
                 <span class="red-color"> Sold Out </span>
                </p>
              </mat-card>
          </div>
        </ng-container>
        <ng-template #no_event><span class="white-color"> No results found! </span></ng-template>
        </div>
      </ng-container>

    </div>
  </div>
</div>