
<div class="container-fluid" *ngIf="filteredEvents">
  <div class="row search_box" >
    <div class="col-md-6 col-12">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="SEARCH EVENTS"  [(ngModel)]="searchTerm">
      </div>
      </div>
    </div>
  <div class="row">

    <div class="col-md-12 card_content">

      <ng-container >
        <div class="row">
          <ng-container *ngIf="filteredEvents.length>0; else no_event">
          <div class="col-md-3 col-12" *ngFor=" let event of filteredEvents">
            <mat-card class="event-card">
              <img mat-card-image [src]="event.imagePath" alt = {{event.name}}
              style="width:225px; height:200px; object-fit: cover; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);">            
            
              <p class="event-title heading">
                {{event.name}}
              </p>
              <p class="event-title">
                Date of Event: {{event.date}}
              </p>
              <p class="event-title">
                Number of seats available: {{event.seats}}
              </p>
              <button *ngIf="event.seats>0" (click)="book_event(event.id)" type="button " class="btn btn-default book_now_button">BOOK NOW</button>
              <p *ngIf="event.seats<=0" class="event-title heading">
                 <span style="color:red"> Sold Out </span>
                </p>
              </mat-card>
          </div>
        </ng-container>
        <ng-template #no_event><span style="color: white"> No results found! </span></ng-template>
        </div>
      </ng-container>

    </div>
  </div>
</div>